.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .app-header {
    font-family: "Josefin Sans", sans-serif;
    color: #6f1f02;
  }

  .app-content{
    color: #6f1f02;
  }